.postsContainer { 
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: auto;
    align-content: start;
    background: rgb(55,47,101);
    background: linear-gradient(180deg, rgba(55,47,101,1) 0%, rgba(122,148,186,1) 100%, rgba(179,179,179,1) 100%);
    border-top-left-radius: 25px;
    box-shadow: 0px 6px 10px 2px rgb(98, 108, 161);
    margin-top: 5rem;
    margin-left: 25rem;
    height: 900px;
    overflow: scroll;
}

.posts { 
    background: rgb(200,200,200);
    background: linear-gradient(180deg, rgba(200,200,200,1) 0%, rgba(255,255,255,1) 100%, rgba(179,179,179,1) 70%);
    margin-top: 2rem;
    margin-bottom: 20px;
    margin-left: .5rem;
    margin-right: .5rem;
    padding: 15px;
    border-radius: .3rem;
    color: black;
    box-shadow: 0px 6px 10px 2px rgb(98, 108, 161);
    width: 70rem;
    height: 35rem;
    display:flex;
    justify-content: space-between;
}

.PostAuthor{
    background-color: none;
    border-radius: 80px;
    text-align: center;
    padding:2px;
    width: 15rem;
    margin-top: 29rem;
    margin-left: 3rem;
    font-size: 25px;
}

.PostAuthor{
    /* margin-left:3px; */
    display: flex;
    justify-content: center;

}

.PostTitle{
    font-weight: bold;
}

.PostCategory{
    font-style: italic;
}

.PostTitle,.PostCategory{
    margin-left: 1rem;
}

.post-icons{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: none;
    margin-top: 30rem;
    margin-left: 40rem;
}

.post-info{
    display: flex;
    flex-direction: column;
}

.post-info>*{
    /* margin-top:2px; */
}

.postDetailsButton {
    border: none;
    background-color: white;

}

.addPostButton { 
    display: flex;
    justify-content: center;
    width: 200px;
    margin-left: 20rem;
    
}
.createPostButton { 
    display: flex;
    justify-content: center;
    width: 300px;
    height: 50px;
    margin-left: 200rem;
    margin-top: rem;
    margin-left: 25rem;
}

.postForm { 
    margin-top: 300px;
    margin-left: 25rem;
}
/* .postPageTitle { 
    margin-top: 25rem;
    margin-left: 23rem;
    margin-bottom: -20rem;
} */

.filteredPosts {
    margin-top: 2rem;
    margin-bottom: -5rem;
    width: 400px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 43rem;

}

.form-control {
    width: 15rem;
}

.createArticle {
    display: flex;
    justify-content: flex-end;
    margin-top: 10rem;
    margin-bottom: -1rem;
    margin-left: 30rem;
    margin-right: 5rem;
}
.userArticle {
    margin-top: 10rem;
    margin-bottom: -5rem;
    margin-left: 30rem;
}