.tag_container{
    display: block;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    background-color: rgb(242, 240, 240);
    border-top-left-radius: 25px;
    margin-left: 25rem;
    height: 900px;
    overflow: scroll;
}

.post_tags_container{
 border: solid, 1px;
}
.tags_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.tag{
    background-color: white;
    margin-top: 2rem;
    margin-bottom: 20px;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 15px;
    border-radius: .3rem;
    color: black;
    box-shadow: 0px 6px 10px 2px rgba(163, 163,163,1);
    width: 10rem;
    text-align: center;
}

.tag-edit-del-btn{
    margin-right: 1rem;
    background-color: rgba(242, 240, 240);
    border:none;
}

.new_tag_btn_container{
    justify-content: center;
    text-align: center;
    margin-top:2rem;
    
}

.heading{
   color: #828282;
   font: 26px Monsarrat, sans-serif;
   text-align: center;
   margin-top: 11rem;
}

.tag-input{
    background-color: white;
    margin-top: 2rem;
    margin-bottom: 20px;
    margin-left: .5rem;
    margin-right: .5rem;
    padding: 15px;
    border-radius: .3rem;
    color: black;
    box-shadow: 0px 6px 10px 2px rgba(163, 163,163,1);
    width: 25rem;
    border: none;
}

.new-tag-submit{
    background-color: white;
    margin-top: 2rem;
    margin-bottom: 20px;
    margin-left: .5rem;
    margin-right: .5rem;
    padding: 15px;
    border-radius: .3rem;
    color: black;
    box-shadow: 0px 6px 10px 2px rgba(163, 163,163,1);
    width: 25rem;
}

.tagContainer{
    display: flex;
    text-align: center;
    margin-bottom: 5px;
    width:25rem;
    align-self: center;
}

.tagLabel{
    background-color: whitesmoke;
    width:100%
}

.new_tag_btn{
    background-color: white;
    margin-top: 2rem;
    margin-bottom: 20px;
    margin-left: .5rem;
    margin-right: .5rem;
    padding: 15px;
    border-radius: .3rem;
    color: black;
    box-shadow: 0px 6px 10px 2px rgba(163, 163,163,1);
    width: 15rem;
}

.tagForm{
    display: flex;
    flex-direction: column;
    align-items: center;
}
